:root{
    --main-color: #90FCF9;
    --secondary-color: #63B4D1;
    --tertiary-color: #7699D4;
    --highlight: #9448BC;
    --text-color: #34043d;
}


a.active {
    font-weight: bold;
}

body{
    color: var(--text-color);
    text-align: center;
    background-color: var(--main-color);
    width: 800px;
    margin: auto;
}

h1{
    font-size: 4em;
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

h2{
    font-size: 4em;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

h3{
    font-size: 1.5em;
    margin-bottom: 40px;
}

button{
    border-style: none;
    border-radius: 10px;
    height: 100px;
    width: 200px;
    font-size: 2em;
    color: var(--text-color);
    background-color: var(--highlight);
}

button:hover{
    background-color: var(--tertiary-color);
}